
.allwin-page
    .welcome
        .welcome__title
            .welcome__title-top вітальний бонус
            .welcome__title-bottom на перші 5 депозитів
            a.welcome__btn.btn(href="/personal-office/balance/deposit/") Забрати Бонус
        .welcome__info
            .welcome__info-left
                .welcome__bonus
                    .welcome__bonus-img
                        img(src="img/welcome/cubes.png" alt="Allwin")
                    .welcome__bonus-text БОНУС КАЗИНО
                    .welcome__bonus-amount
                        .welcome__bonus-amount-item до
                        .welcome__bonus-amount-item 225 000 ₴
                    .welcome__bottom 600 FS
            .welcome__info-center
                .welcome__info-cup
                    img(src="img/welcome/cup.png" alt="Allwin")
                .welcome__info-card
                    img(src="img/welcome/card.png" alt="Allwin")
                .welcome__info-ball
                    img(src="img/welcome/ball.png" alt="Allwin")
                .welcome__info-cube
                    img(src="img/welcome/cube-top.png" alt="Allwin")
                .welcome__info-ball-top
                    img(src="img/welcome/ball-top.png" alt="Allwin")
            .welcome__info-right
                .welcome__bonus
                    .welcome__bonus-img
                        img(src="img/welcome/gloves.png" alt="Allwin")
                    .welcome__bonus-text БОНУС СПОРТ
                    .welcome__bonus-amount
                        .welcome__bonus-amount-item до
                        .welcome__bonus-amount-item 215 000 ₴
    .cards
        a.cards__item(href="/uk/casino/")
            .cards__item-icon
                img(src="img/cards/machine.png" alt="Allwin")
            .cards__item-text Слоти
        a.cards__item(href="/uk/live-casino/")
            .cards__item-icon
                img(src="img/cards/live-casino.png" alt="Allwin")
            .cards__item-text Казино ігри
        a.cards__item(href="/uk/sports/sport/soccer/")
            .cards__item-icon
                img(src="img/cards/sport.png" alt="Allwin")
            .cards__item-text Спорт
        a.cards__item(href="/uk/live/all/")
            .cards__item-icon
                img(src="img/cards/live.png" alt="Allwin")
            .cards__item-text Live
        a.cards__item(href="/uk/e-sports/all/")
            .cards__item-icon
                img(src="img/cards/cyber.png" alt="Allwin")
            .cards__item-text Кібер
        a.cards__item(href="/uk/promos/promotions/all/")
            .cards__item-icon
                img(src="img/cards/bonuses.png" alt="Allwin")
            .cards__item-text Бонуси
    .info
        .info__item
            .info__item-left
                .info__item-title Казино
                .info__item-text Слоти та лайв-ігри на будь-який смак. Акції та персональні бонуси на постійній основі. Закрути ALLWIN вже зараз!
                a.info__btn.btn(href="/casino/") крути слоти
            .info__item-right
                .info__img-left
                    img(src="img/info/card1-left.png" alt="Allwin")
                .info__img-center
                    img(src="img/info/card1-center.png" alt="Allwin")
                .info__img-right
                    img(src="img/info/card1-right.png" alt="Allwin")
        .info__item
            .info__item-left
                .info__item-title Спорт
                .info__item-text 70+ спортів, підвищені коефи на топи, щоденні акції, бонуси та турніри. Тут починається твій шлях до ALLWIN
                a.info__btn.btn(href="/sports/sport/soccer/") роби ставки
            .info__item-right
                .info__img-left
                    img(src="img/info/card2-left.png" alt="Allwin")
                .info__img-center
                    img(src="img/info/card2-center.png" alt="Allwin")
                .info__img-right
                    img(src="img/info/card2-right.png" alt="Allwin")
    .seo
        .seo__left
            h2.seo__left-title Sport bets in bookmaker FavBet
            p.seo__left-text Betting on sports online securely with Favbet Sportsbook. With us, over 600,000 betting enthusiasts have trusted our sports betting company since 1999. We offer high odds, a large number of sports and betting options, more than 23,000 live events monthly, live sports events. A user-friendly interface, a mobile version of the site and an application for smartphones make the process a pleasure. Forecasts, reviews, mailing lists help our clients get up-to-date information about their favorite players and teams. Win with Favbet!
            h2.seo__left-title Sport bets in bookmaker FavBet
            p.seo__left-text Betting on sports online securely with Favbet Sportsbook. With us, over 600,000 betting enthusiasts have trusted our sports betting company since 1999. We offer high odds, a large number of sports and betting options, more than 23,000 live events monthly, live sports events. A user-friendly interface, a mobile version of the site and an application for smartphones make the process a pleasure. Forecasts, reviews, mailing lists help our clients get up-to-date information about their favorite players and teams. Win with Favbet!
        .seo__right
            .seo__right-row
                .seo__right-label Офіційний сайт:
                .seo__right-value Favbet
            .seo__right-row
                .seo__right-label Бонуси:
                .seo__right-value 500₴ risk free bet + 4000₴ first deposit
            .seo__right-row
                .seo__right-label Мобільний додаток:
                .seo__right-value Доступний для Android та IOS
            .seo__right-row
                .seo__right-label Тех.підтримка:
                .seo__right-value 24/7
            .seo__right-row
                .seo__right-label Мовні версії:
                .seo__right-value Українська, Англійська, Російська
            .seo__right-row
                .seo__right-label Типи платіжних систем:
                .seo__right-value Visa/Mastercard, Skrill, Ecopayz, Wallet One, Netteler, Bpay
